/node_modules
/resources/assets/js/config.js
/public/hot
/public/storage
/public/js/app.js
public/js/app.js
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
.env
