body {
  font-family: "Nunito", sans-serif;
  background: #F0F0F0;
  max-height: 100vh;
}

a {
  color: #7051de;
}

a:hover {
  color: #6046bf;
}

.navbar-default {
  border: none;
  border-radius: 0px;
  margin-bottom: 0px;
  background-color: #ffd200;
}

.transparent {
  background-color: transparent;
}

.transparent .container {
  margin-top: 20px;
}

.navbar-default .navbar-brand {
  color: #464646;
}

.navbar-brand {
  padding: 0px 0px;
}

.navbar-brand img {
  display: block;
  margin-left: 10px;
  height: 100%;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #E0E0E0;
}

.navbar-default .navbar-nav > li > a {
  color: #464646;
}

.navbar-default.transparent .navbar-nav > li > a:hover {
  color: #464646;
}

.navbar-default.transparent .navbar-nav > li > a {
  color: #FFFFFF;
}

.navbar-default.transparent .navbar-nav > li > a:hover {
  color: #FFFFFF;
}

.page-header {
  padding: 40px 0px;
  margin: 0px;
  margin-bottom: 10px;
  background: #FFFFFF;
}

.class-header {
  margin-top: -7rem;
  min-width: 100vp;
  max-width: 100%;
  max-height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0px 100px 0px;
  background-image: url(https://pbs.twimg.com/media/CvWl3-yUkAAG0ih.jpg);
  color: #FFFFFF;
}

.class-header h1 {
  margin: 0px;
}

.class-header .btn-default {
  background-color: transparent;
  color: #FFFFFF;
  border-color: #FFF;
}

.class-header .btn-default:hover {
  background-color: #FFFFFF;
  color: #7051de;
  border-color: #FFF;
}

.class-description {
  font-size: 16px;
}

.class-action {
  padding: 10px 0px;
}

.classroom-list .card {
  height: 150px;
}

.classroom-list-head {
  font-size: 20px;
}

.class-meta {
  margin-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
}

.class-post-time {
  font-size: 12px;
}

.class-post-user {
  font-size: 18px;
}

.member-list {
  background: #FFFFFF;
}

.card {
  background: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0px;
}

.attachment {
  padding: 10px;
}

.attachment strong {
  margin: 5px;
}

.attachment-item {
  background: #FFFFFF;
  cursor: pointer;
  float: left;
  padding: 5px;
}

.attachment-item-inner {
  width: 100px;
}

.attachment-item:hover {
  background: #F0F0F0;
}

.attachment-item .thumbnail {
  margin: 0px;
  border: 0px;
  background: #FFFFFF;
}

.attachment-filename {
  padding: 5px 0px;
  word-wrap: break-word;
  font-size: 13px;
}

.attachment-thumbnail {
  background: #999999;
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.attachment-image {
  background-size: cover;
}

.attachment-thumbnail .file-icon {
  background-image: url(/images/file-icon.svg);
  background-repeat: no-repeat;
  background-position: -100px 0px;
  background-size: 200% auto;
  height: 50px;
  width: 50px;
  position: relative;
  top: 25px;
  margin: auto;
}

.attachment-thumbnail.file-pptx {
  background: #F4511E;
}

.attachment-thumbnail.file-pptx .file-icon {
  background-position: 0px 0px;
}

.attachment-thumbnail.file-pdf {
  background: #e74c3c;
}

.attachment-thumbnail.file-pdf .file-icon {
  background-position: 0px -150px;
}

.swal-modal {
  border-radius: 0px;
  font-family: "Nunito", sans-serif;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.fade-enter-active {
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.login-bg {
  height: 100vh;
  max-height: 100vh;
  background-image: url("http://www.sepeb.com/giraffe-background/giraffe-background-002.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 15rem 0 0 0;
}

@media (max-width: 450px) {
  .login {
    margin: 10rem 0 0 0;
  }
}

.login img {
  display: block;
  width: 100%;
  max-height: 200px;
  max-width: 300px;
  -webkit-filter: invert(80%);
          filter: invert(80%);
  margin: auto;
}

.login .btn {
  color: #1a1a1a;
  width: 80%;
  background-color: #ffd200;
}

