.class-header{
    padding: 30px 0px;
}

.page-header{
    padding: 20px 0px;
}

.class-post-item{
    background: #FFFFFF;
    padding: 20px;
    margin: 10px 0px;
    border-radius: 3px;
    border: 1px solid #E0E0E0;
}

.class-meta-item{
    float: left;
}

.class-post-time{
    font-size: 13px;
    padding: 0px 5px;
}

.class-post-user{
    font-size: 18px;
    margin-bottom: 10px;
}

.member-list{
    background: #FFFFFF;
}

.card{
    background: #FFFFFF;
    padding: 10px 20px;
    border: 1px solid #e0e0e0;
}

.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}