// $primary-color: #7051de;
// $dark-primary-color: #6046bf;
// $navbar-menu-color: #FFFFFF;

$primary-color: #7051de;
$dark-primary-color: #6046bf;

$font: "Nunito", sans-serif;

body{
    font-family: $font;
    background: #F0F0F0;
    max-height: 100vh;
}

a{
    color: $primary-color
}

a:hover{
    color: $dark-primary-color
}

.navbar-default {
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;
    background-color: rgba(255, 210, 0, 1);
}
.transparent{
    background-color: rgba(0,0, 0, 0);
}
.transparent .container{
    margin-top: 20px;
}

.navbar-default .navbar-brand {
    color: #464646;
}
.navbar-brand{
    padding: 0px 0px;
}
.navbar-brand img{
    display: block;
    margin-left: 10px;
    height: 100%;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #E0E0E0;
}

.navbar-default .navbar-nav > li > a {
    color: #464646;
}

.navbar-default.transparent .navbar-nav > li > a:hover {
    color: #464646;
}

.navbar-default.transparent .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-default.transparent .navbar-nav > li > a:hover {
    color: #FFFFFF;
}
// fix navbar in classpages
.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
// change color on responsive
@media(max-width: 768px){
    #bs-example-navbar-collapse-1{
        background-color: rgba(255, 255, 255, 1)
    }
    #bs-example-navbar-collapse-1 > ul > li > a{
        color: #464646;
    }
}

    
  

.page-header {
    padding: 40px 0px;
    margin: 0px;
    margin-bottom: 10px;
    background: #FFFFFF;
}

.class-header {
    margin-top: -7rem;
    min-width: 100vp;
    max-width: 100%;
    max-height: 300px;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 150px 0px 100px 0px;
    background-image: url(https://pbs.twimg.com/media/CvWl3-yUkAAG0ih.jpg);
    color: #FFFFFF;
}



.class-header h1{
    margin: 0px;
}

.class-header .btn-default{
    background-color: transparent;
    color: #FFFFFF;
    border-color: #FFF;
}

.class-header .btn-default:hover{
    background-color: #FFFFFF;
    color: $primary-color;
    border-color: #FFF;
}

.class-description{
    font-size: 16px;
}

.class-action{
    padding: 10px 0px;
}

.classroom-list .card{
    height: 150px;
}

.classroom-list-head{
    font-size: 20px;
}

.class-meta{
    margin-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

.class-post-time{
    font-size: 12px;
}

.class-post-user{
    font-size: 18px;
}

.member-list{
    background: #FFFFFF;
}

.card {
    background: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0px;
}

//attachment
.attachment{
    margin: 0px -5px;
}

.attachment strong{
    margin: 5px;
}

.attachment-block{
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
}

.attachment-item{
    background: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    vertical-align: top;
}

.attachment-item-inner{
    width: 100px;
}

.attachment-item:hover{
    background: #F0F0F0;
}

.attachment-item .thumbnail{
    margin: 0px;
    border: 0px;
    background: #FFFFFF;
}

.attachment-filename{
    padding: 5px 0px;
    white-space: normal;
    word-wrap: break-word;
    font-size: 13px;
}

//thumbnail file type
.attachment-thumbnail{
    background: #999999;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}
.attachment-image{
    background-size: cover;
}
.attachment-thumbnail .file-icon{
    background-image: url(/images/file-icon.svg);
    background-repeat: no-repeat;
    background-position: -51px 0px;
    background-size: 200% auto;
    height: 50px;
    width: 50px;
    position: relative;
    top: 25px;
    margin: auto;
}
//powerpoint
.attachment-thumbnail.file-pptx,
.attachment-thumbnail.file-ppt{
    background: #F4511E;
}
.attachment-thumbnail.file-pptx .file-icon,
.attachment-thumbnail.file-ppt .file-icon,
{
    background-position: 0px 0px;
}
//excel
.attachment-thumbnail.file-xlsx,
.attachment-thumbnail.file-xls{
    background: #16a085;
}
.attachment-thumbnail.file-xlsx .file-icon,
.attachment-thumbnail.file-xls .file-icon,
{
    background-position: 0px -100px;
}
//word
.attachment-thumbnail.file-docx,
.attachment-thumbnail.file-doc{
    background: #446CB3;
}
.attachment-thumbnail.file-docx .file-icon,
.attachment-thumbnail.file-doc .file-icon,
{
    background-position: 0px -50px;
}

.attachment-thumbnail.file-pptx{
    background: #F4511E;
}
.attachment-thumbnail.file-pptx .file-icon{
    background-position: 0px 0px;
}
//pdf
.attachment-thumbnail.file-pdf{
    background: #e74c3c;
}
.attachment-thumbnail.file-pdf .file-icon{
    background-position: 0px -150px;
}

//popup
.swal-modal {
    border-radius: 0px;
    font-family: "Nunito", sans-serif;
}

//fade transition
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}
.login-bg{
    height: 100vh; 
    max-height: 100vh; 
    background-image: url("http://www.sepeb.com/giraffe-background/giraffe-background-002.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login {
    background-color: rgba(255, 255, 255,0.8);
    margin: 15rem 0 0 0;
    
}
@media(max-width: 450px){
    .login{
        margin: 10rem 0 0 0;
    }
}
.login img{
    // logo
    display: block;
    width: 100%;
    max-height: 200px;
    max-width: 300px;
    filter: invert(80%);
    margin:auto;
}
.login .btn{
    color: rgb(26, 26, 26);
    width: 80%;
    background-color: rgba(255, 210, 0, 1);
<<<<<<< HEAD
=======
}

// post page
.margin-container{
    margin-top: 4em;
>>>>>>> bceb44aede7fe25277814a2473bcc628b630c4d4
}